.editForm{
    width: 20%;
    margin: 0 auto;
}

form>label{
    width: 150px;
}

.logo{
    width:50px;
    display: inline-block;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-center a{
    margin: 10px;
}

.logo-text{
    font-size:30px;
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}
.back{
    vertical-align: bottom;
}

.loan-header{
    display: inline-block;
    clear: both;
    float: none;
}

h2.loan-header{
    margin-left:20px;
}